<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Made with Thimble</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="droplab.css">
</head>
<body>
<div class="container">
<!--   <div class="dropdown">
    <a href="#" id="without-initialize" class="btn" data-dropdown-trigger="#dropdown-menu-without-initialize">
      Click me
    </a>
    <div class="dropdown-menu" id="dropdown-menu-without-initialize">
      <ul>
        <li><a href="#">Without autoinitialize</a></li>
        <li><a href="#">Without autoinitialize 2</a></li>
      </ul>
    </div>
  </div> -->
<!--   <div class="dropdown">
    <a href='#' data-id='main' data-dropdown-trigger='#dropdown-1' class='btn'>Click me</a>
    <div class='dropdown-menu' id='dropdown-1' data-dropdown>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Home</a></li>
      </ul>
      <ul data-dynamic>
        <li><a href='#' data-id='{{id}}'>{{text}}</a></li>
      </ul>
    </div>
  </div> -->
  <!-- <div class='dropdown'>
    <input type='text' data-dropdown-trigger='#static-dropdown'>
    <ul class='dropdown-menu' id='static-dropdown' data-dropdown>
      <li><a href="#">Item</a></li>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
    </ul>
  </div> -->
  <div class="dropdown">
    <input type='text' data-id='inputter' class='input' data-dropdown-trigger="#dropdown-2">
    <ul class="dropdown-menu" id="dropdown-2" data-dropdown data-dynamic>
      <li><a href='#' data-id='{{id}}'>{{text}}</a></li>
    </ul>
    <ul class="dropdown-menu" id="dropdown-3" data-dropdown data-dynamic>
      <li><a href='#' data-id='{{id}}'>{{id}}</a></li>
    </ul>
  </div>
</div>
<a href="#" id="switcher">Switch List</a>
  <script src="../dist/droplab.js"></script>
  <script src="../dist/plugins/ajax.datasource.js"></script>
  <script src="../dist/plugins/filter.js"></script>
  <script>
    document.getElementById('switcher').addEventListener('click', function(){

      droplab.changeHookList('inputter', '#dropdown-3');
        droplab.addData('inputter', [{
          id: 24601,
          text: 'Jacob'
        },
        {
          id: 24602,
          text: 'Jeff'
        }]);
    });
    // droplab.addHook(document.getElementById('without-initialize')).init();
    droplab.setConfig({
      inputter: {
        text: 'text'
      }
    })
    droplab.addData('inputter', [{
      id: 24601,
      text: 'Jacob'
    },
    {
      id: 24602,
      text: 'Jeff'
    }])

    droplab.addData('inputter', [{
      id: 24603,
      text: 'Johan'
    },
    {
      id: 24604,
      text: 'Justin'
    }])

    droplab.addData('inputter', '/features/plugins/example_data.json');
  </script>
</body>
</html>
